/*
----------------------------
Front-End Project DOCSTRING
----------------------------
Title: Front-End Project
Purpose:Resume with Validating Contact Form
Author: Amr Fouad
Date of last edit: september xx, 2020 xx:xx am
*/
@import url("normalize.css");